@import "controls.css";

/* Layout */

main {
  display: grid;
  gap: 0.5rem;
  width: 98vw;
  height: 98vh;
}

/* Landscape layout */
@media (orientation: landscape) {
  main {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board program program"
      "board controls remote";
  }
}

/* Portrait layout */
@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board board"
      "program program"
      "controls remote";
  }
}

/* Narrow layout */
@media (max-width: 400px) {
  main {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board"
      "program"
      "controls"
      "remote";
  }
}

#board { grid-area: board; }
#program { grid-area: program; }
#controls { grid-area: controls; }
#remote { grid-area: remote; }

#board {
  padding: 0;
  display: grid;
  gap: 0.1rem;
  grid-template-rows: 2em auto;
  grid-template-areas:
    "level"
    "map";
}

#level { grid-area: level; }
#map { grid-area: map; }

#level {
  margin: auto;
  font-size: 1em;
  display: flex;
  gap: 1em;
}

#map {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  min-height: 60vh;
}

.cell {
  transform-origin: center;
  transform-box: fill-box;
  transition-timing-function: ease-in-out;
}

.wiggle {
  transform-origin: center;
  transform-box: fill-box;
  animation: wiggle 0.2s ease-in-out infinite;
}

@keyframes wiggle {
  0%   { transform: rotate(-5deg);}
  50%  { transform: rotate(5deg);}
  100% { transform: rotate(-5deg);}
}

main > * {
  border: 1px solid grey;
  border-radius: 1em;
  padding: 1em;
  overflow: hidden;
}

#remote {
  justify-content: center;
  align-content: center;
}

#controls button {
  font-size: 4vmin;
}

#program {
  position: relative;
}

#program .listing {
  font-size: 3.5vmin;
}

#program .highlight {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 1px dotted red;
  border-radius: 2px;
  background-color: #ddf;
  z-index: -1;
}

#program .highlight.active {
  display: block;
}

.wiggle .bot-wiggle {
  animation: wiggle 0.3s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes wiggle {
  0%   { transform: rotate(-5deg);}
  50%  { transform: rotate(5deg);}
  100% { transform: rotate(-5deg);}
}
