@import "controls.css";

/* Layout */

main {
  display: grid;
  gap: 1rem;
}

/* Landscape layout */
@media (orientation: landscape) {
  main {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board program program"
      "board controls remote";
  }
}

/* Portrait layout */
@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board board"
      "program program"
      "controls remote";
  }
}

/* Small portrait layout */
@media (orientation: portrait) and (max-width: 400px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board"
      "program"
      "controls"
      "remote";
  }
}

/* Small landscape layout */
@media (orientation: landscape) and (max-width: 400px) {
  main {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "board controls"
      "program program"
      "remote .";
  }
}

#board { grid-area: board; }
#program { grid-area: program; }
#controls { grid-area: controls; }
#remote { grid-area: remote; }

#board {
  background-color: lightblue;
  padding: 0;
  width: 100%;
  height: 100%;
}

.beebot {
  transform-origin: center;
  transform-box: fill-box;
  transition-timing-function: ease-in-out;
}

main > * {
  border: 1px solid grey;
  border-radius: 1em;
  padding: 1em;
}

#remote {
  justify-content: center;
  align-content: center;
}

#controls button {
  font-size: 4vmin;
}

#program {
  font-size: 3vmin;
}

#status {
  font-size: 9px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#status.running {
  opacity: 1;
}
