#qr-container {
  max-width: 300px;
}

#board {
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 150%;
  background-color: lightblue;
  text-align: center;
  display: inline-block;
}

.beebot {
  transform-origin: center;
  transform-box: fill-box;
  transition-timing-function: ease-in-out;
}
