@import "controls.css";

main {
  width: 95vw;
  height: 90vh;
  margin: auto;
}

#controls {
  width: 95%;
  height: 95%;
  margin: auto;
}

#controls button {
  font-size: 8.5vmin;
}

#controls-overlay .indicator {
  font-size: 12em;
}

#connecting {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255, 255, 255, 0.4); /* semi-transparent layer */
  backdrop-filter: blur(5px);            /* Blur everything behind */
  -webkit-backdrop-filter: blur(5px);    /* Safari support */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s linear;
  user-select: none;
}

#connecting .indicator {
  font-size: 6em;
}

#connecting.connected {
  display: none;
}

#connecting .failed {
  display: none;
}

#connecting.failed .connecting {
  display: none;
}
#connecting.failed .failed {
  display: block;
}
