@import "controls.css";

main {
  width: 95vw;
  height: 90vh;
  margin: auto;
}

#controls {
  width: 95%;
  height: 95%;
  margin: auto;
}

#controls button {
  font-size: 8.5vmin;
}

#controls-overlay .indicator {
  font-size: 12em;
}

